{% extends 'base.html' %} {% load static %} {% block main %}
<h1 class="mb-5">How It Works:</h1>



<div class="row mt-5">
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h3 class="card-text">Step 1</h3>
        <hr style="color: #ffffff; background-color: #ffffff; height: 1px" />
        <p class="card-text">
          Connect your LinkedIn profile via your username.
        </p>
        <img
          src="{% static 'images/LinkedIn.png' %}"
          class="card-image card-img-bottom"
          alt="..."
        />
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h3 class="card-text">Step 2</h3>
        <hr style="color: #ffffff; background-color: #ffffff; height: 1px" />
        <p class="card-text">Our AI analyzes your LinkedIn data.</p>

        <img
          src="{% static 'images/AI.png' %}"
          class="card-image card-img-bottom"
          alt="..."
        />
      </div>
    </div>
  </div>
  <div class="col-lg-4 d-flex align-items-stretch">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h3 class="card-text">Step 3</h3>
        <hr style="color: #ffffff; background-color: #ffffff; height: 1px" />
        <p class="card-text">Your personal website is generated.</p>
        <img
          src="{% static 'images/CheckMark.png' %}"
          class="card-image card-img-bottom"
          alt="..."
        />
      </div>
    </div>
  </div>
  <p class="lead">
    <a href="{% url 'generate' %}" class="btn btn-lg btn-secondary" style="margin-top:20px;">Generate Now!</a>
</p>
</div>
{% endblock %}
